openai==1.14.3
langchain==0.1.16
langchain-openai==0.1.1
langchain-community==0.0.37
qdrant-client==1.6.5
fastapi==0.110.1
uvicorn==0.30.0
sse-starlette==1.6.1
httpx==0.27.0
python-dotenv==1.0.1
schedule==1.2.1
